{% extends "base.html" %}
{% block title %}Pagina de analisis{% endblock %}

{% block content %}
<main role="main" class="container p-5">
    <form action="#" method="POST">
        <div class="mb-3" style="color:blanchedalmond;">
            <label for="default" class="form-label">Entrada:</label>
            <textarea class="codemirror-textarea form-control" name="inpt" id="default" cols="30">{{initial}}</textarea>
        </div>
        <button type="submit" class="btn btn-dark">Compilador</button>
    </form>
    <form>
        <br>
        <div class="mb-3" style="color:blanchedalmond;">
            <label for="default" class="form-label">Salida:</label>
            <textarea class="codemirror-textarea form-control" id="output" cols="30">{{input}}</textarea>
        </div>
    </form>
</main>
{% endblock %}