{% extends "base.html" %}
{% block title %}Inicio{% endblock %}

{% block content %}
<main role="main" class="container p-5">
    <div class="p-5 bg-light border  rounded-3">
        <h1>Data Analysis With Machine Learning</h1>
        <p>
            Organización de Lenguajes y Compiladores 2:<br>
            Data Analysis With Machine Learning
        </p>
        
        <footer>            
            <small class="text-primary">Josue Eduardo Abelarde Perez    201602890</small>
          </footer>                
    </div>
</main>

{% endblock %}